# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
NDI/FFmpeg-iOS/include/libavcodec/ac3_parser.h
NDI/FFmpeg-iOS/include/libavcodec/adts_parser.h
NDI/FFmpeg-iOS/include/libavcodec/avcodec.h
NDI/FFmpeg-iOS/include/libavcodec/avdct.h
NDI/FFmpeg-iOS/include/libavcodec/avfft.h
NDI/FFmpeg-iOS/include/libavcodec/bsf.h
NDI/FFmpeg-iOS/include/libavcodec/codec.h
NDI/FFmpeg-iOS/include/libavcodec/codec_desc.h
NDI/FFmpeg-iOS/include/libavcodec/codec_id.h
NDI/FFmpeg-iOS/include/libavcodec/codec_par.h
NDI/FFmpeg-iOS/include/libavcodec/d3d11va.h
NDI/FFmpeg-iOS/include/libavcodec/dirac.h
NDI/FFmpeg-iOS/include/libavcodec/dv_profile.h
NDI/FFmpeg-iOS/include/libavcodec/dxva2.h
NDI/FFmpeg-iOS/include/libavcodec/jni.h
NDI/FFmpeg-iOS/include/libavcodec/mediacodec.h
NDI/FFmpeg-iOS/include/libavcodec/packet.h
NDI/FFmpeg-iOS/include/libavcodec/qsv.h
NDI/FFmpeg-iOS/include/libavcodec/vaapi.h
NDI/FFmpeg-iOS/include/libavcodec/vdpau.h
NDI/FFmpeg-iOS/include/libavcodec/version.h
NDI/FFmpeg-iOS/include/libavcodec/videotoolbox.h
NDI/FFmpeg-iOS/include/libavcodec/vorbis_parser.h
NDI/FFmpeg-iOS/include/libavcodec/xvmc.h
NDI/FFmpeg-iOS/include/libavdevice/avdevice.h
NDI/FFmpeg-iOS/include/libavdevice/version.h
NDI/FFmpeg-iOS/include/libavfilter/avfilter.h
NDI/FFmpeg-iOS/include/libavfilter/buffersink.h
NDI/FFmpeg-iOS/include/libavfilter/buffersrc.h
NDI/FFmpeg-iOS/include/libavfilter/version.h
NDI/FFmpeg-iOS/include/libavformat/avformat.h
NDI/FFmpeg-iOS/include/libavformat/avio.h
NDI/FFmpeg-iOS/include/libavformat/version.h
NDI/FFmpeg-iOS/include/libavutil/adler32.h
NDI/FFmpeg-iOS/include/libavutil/aes.h
NDI/FFmpeg-iOS/include/libavutil/aes_ctr.h
NDI/FFmpeg-iOS/include/libavutil/attributes.h
NDI/FFmpeg-iOS/include/libavutil/audio_fifo.h
NDI/FFmpeg-iOS/include/libavutil/avassert.h
NDI/FFmpeg-iOS/include/libavutil/avconfig.h
NDI/FFmpeg-iOS/include/libavutil/avstring.h
NDI/FFmpeg-iOS/include/libavutil/avutil.h
NDI/FFmpeg-iOS/include/libavutil/base64.h
NDI/FFmpeg-iOS/include/libavutil/blowfish.h
NDI/FFmpeg-iOS/include/libavutil/bprint.h
NDI/FFmpeg-iOS/include/libavutil/bswap.h
NDI/FFmpeg-iOS/include/libavutil/buffer.h
NDI/FFmpeg-iOS/include/libavutil/camellia.h
NDI/FFmpeg-iOS/include/libavutil/cast5.h
NDI/FFmpeg-iOS/include/libavutil/channel_layout.h
NDI/FFmpeg-iOS/include/libavutil/common.h
NDI/FFmpeg-iOS/include/libavutil/cpu.h
NDI/FFmpeg-iOS/include/libavutil/crc.h
NDI/FFmpeg-iOS/include/libavutil/des.h
NDI/FFmpeg-iOS/include/libavutil/dict.h
NDI/FFmpeg-iOS/include/libavutil/display.h
NDI/FFmpeg-iOS/include/libavutil/dovi_meta.h
NDI/FFmpeg-iOS/include/libavutil/downmix_info.h
NDI/FFmpeg-iOS/include/libavutil/encryption_info.h
NDI/FFmpeg-iOS/include/libavutil/error.h
NDI/FFmpeg-iOS/include/libavutil/eval.h
NDI/FFmpeg-iOS/include/libavutil/ffversion.h
NDI/FFmpeg-iOS/include/libavutil/fifo.h
NDI/FFmpeg-iOS/include/libavutil/file.h
NDI/FFmpeg-iOS/include/libavutil/frame.h
NDI/FFmpeg-iOS/include/libavutil/hash.h
NDI/FFmpeg-iOS/include/libavutil/hdr_dynamic_metadata.h
NDI/FFmpeg-iOS/include/libavutil/hmac.h
NDI/FFmpeg-iOS/include/libavutil/hwcontext.h
NDI/FFmpeg-iOS/include/libavutil/hwcontext_cuda.h
NDI/FFmpeg-iOS/include/libavutil/hwcontext_d3d11va.h
NDI/FFmpeg-iOS/include/libavutil/hwcontext_drm.h
NDI/FFmpeg-iOS/include/libavutil/hwcontext_dxva2.h
NDI/FFmpeg-iOS/include/libavutil/hwcontext_mediacodec.h
NDI/FFmpeg-iOS/include/libavutil/hwcontext_opencl.h
NDI/FFmpeg-iOS/include/libavutil/hwcontext_qsv.h
NDI/FFmpeg-iOS/include/libavutil/hwcontext_vaapi.h
NDI/FFmpeg-iOS/include/libavutil/hwcontext_vdpau.h
NDI/FFmpeg-iOS/include/libavutil/hwcontext_videotoolbox.h
NDI/FFmpeg-iOS/include/libavutil/hwcontext_vulkan.h
NDI/FFmpeg-iOS/include/libavutil/imgutils.h
NDI/FFmpeg-iOS/include/libavutil/intfloat.h
NDI/FFmpeg-iOS/include/libavutil/intreadwrite.h
NDI/FFmpeg-iOS/include/libavutil/lfg.h
NDI/FFmpeg-iOS/include/libavutil/log.h
NDI/FFmpeg-iOS/include/libavutil/lzo.h
NDI/FFmpeg-iOS/include/libavutil/macros.h
NDI/FFmpeg-iOS/include/libavutil/mastering_display_metadata.h
NDI/FFmpeg-iOS/include/libavutil/mathematics.h
NDI/FFmpeg-iOS/include/libavutil/md5.h
NDI/FFmpeg-iOS/include/libavutil/mem.h
NDI/FFmpeg-iOS/include/libavutil/motion_vector.h
NDI/FFmpeg-iOS/include/libavutil/murmur3.h
NDI/FFmpeg-iOS/include/libavutil/opt.h
NDI/FFmpeg-iOS/include/libavutil/parseutils.h
NDI/FFmpeg-iOS/include/libavutil/pixdesc.h
NDI/FFmpeg-iOS/include/libavutil/pixelutils.h
NDI/FFmpeg-iOS/include/libavutil/pixfmt.h
NDI/FFmpeg-iOS/include/libavutil/random_seed.h
NDI/FFmpeg-iOS/include/libavutil/rational.h
NDI/FFmpeg-iOS/include/libavutil/rc4.h
NDI/FFmpeg-iOS/include/libavutil/replaygain.h
NDI/FFmpeg-iOS/include/libavutil/ripemd.h
NDI/FFmpeg-iOS/include/libavutil/samplefmt.h
NDI/FFmpeg-iOS/include/libavutil/sha.h
NDI/FFmpeg-iOS/include/libavutil/sha512.h
NDI/FFmpeg-iOS/include/libavutil/spherical.h
NDI/FFmpeg-iOS/include/libavutil/stereo3d.h
NDI/FFmpeg-iOS/include/libavutil/tea.h
NDI/FFmpeg-iOS/include/libavutil/threadmessage.h
NDI/FFmpeg-iOS/include/libavutil/time.h
NDI/FFmpeg-iOS/include/libavutil/timecode.h
NDI/FFmpeg-iOS/include/libavutil/timestamp.h
NDI/FFmpeg-iOS/include/libavutil/tree.h
NDI/FFmpeg-iOS/include/libavutil/twofish.h
NDI/FFmpeg-iOS/include/libavutil/tx.h
NDI/FFmpeg-iOS/include/libavutil/version.h
NDI/FFmpeg-iOS/include/libavutil/video_enc_params.h
NDI/FFmpeg-iOS/include/libavutil/xtea.h
NDI/FFmpeg-iOS/include/libswresample/swresample.h
NDI/FFmpeg-iOS/include/libswresample/version.h
NDI/FFmpeg-iOS/include/libswscale/swscale.h
NDI/FFmpeg-iOS/include/libswscale/version.h
NDI/FFmpeg-iOS/lib/libavcodec.a
NDI/FFmpeg-iOS/lib/libavdevice.a
NDI/FFmpeg-iOS/lib/libavfilter.a
NDI/FFmpeg-iOS/lib/libavformat.a
NDI/FFmpeg-iOS/lib/libavutil.a
NDI/FFmpeg-iOS/lib/libswresample.a
NDI/FFmpeg-iOS/lib/libswscale.a
NDI/include/Processing.NDI.Advanced.h
NDI/include/Processing.NDI.AVSync.h
NDI/include/Processing.NDI.compat.h
NDI/include/Processing.NDI.deprecated.h
NDI/include/Processing.NDI.DynamicLoad.h
NDI/include/Processing.NDI.Embedded.h
NDI/include/Processing.NDI.Find.h
NDI/include/Processing.NDI.FrameSync.h
NDI/include/Processing.NDI.Genlock.h
NDI/include/Processing.NDI.KVM.h
NDI/include/Processing.NDI.KVM.keysymdef.h
NDI/include/Processing.NDI.Lib.cplusplus.h
NDI/include/Processing.NDI.Lib.h
NDI/include/Processing.NDI.Plugins.h
NDI/include/Processing.NDI.Recv.ex.h
NDI/include/Processing.NDI.Recv.h
NDI/include/Processing.NDI.Routing.h
NDI/include/Processing.NDI.Send.h
NDI/include/Processing.NDI.structs.h
NDI/include/Processing.NDI.utilities.h
